opencv-python
wandb
einops
rotary-embedding-torch
ema-pytorch
omegaconf
torch
toolz
termcolor
multimethod
diffusers
vector-quantize-pytorch
torchtyping
imageio
einops
numpy
imageio[ffmpeg]
accelerate
fastapi
uvicorn[standard]
