--extra-index-url https://download.pytorch.org/whl/cu128
opencv-python
wandb
einops
rotary-embedding-torch
ema-pytorch
omegaconf
torch
torchvision
multimethod
diffusers
vector-quantize-pytorch
torchtyping
imageio
einops
numpy
imageio[ffmpeg]
fastapi
uvicorn[standard]
accelerate
boto3
python-dotenv
wandb[media]
alias-free-torch
taskgroup # only here to backport to 3.10 cause hotel wifi is too slow to remake venv
